[include fluidd.cfg]
# This file contains pin mappings for the stock 2022 Creality Ender 3
# V3 SE. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART1 PA2/PA3), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# This also works for the GD32F303 based Creality 4.2.2 board.

# See docs/Config_Reference.md for a description of parameters.
[include macro.cfg]

#[stepper_x]
#step_pin: PC2
#dir_pin: !PB9
#enable_pin: !PC3
#microsteps: 16
#rotation_distance: 40
#endstop_pin: ~!PA5
#position_endstop: -6
#position_min: -9
#position_max: 228
#homing_speed: 80

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 32
#microsteps: 64
rotation_distance: 40
endstop_pin: !PA5
position_endstop: -8
#position_min: -8
#position_max: 230
position_min: -8
position_max: 227
homing_speed: 50

[tmc2208 stepper_x]
uart_pin: PB12
run_current: 0.70
#run_current: 0.60
#hold_current: 0.5
sense_resistor: 0.150
stealthchop_threshold: 0
#stealthchop_threshold: 999999
interpolate: False
#interpolate: True

#[stepper_y]
#step_pin: PB8
#dir_pin: PB7
#enable_pin: !PC3
#microsteps: 16
#rotation_distance: 40
#endstop_pin: ~!PA6
#position_endstop: -14
#position_min: -14
#position_max: 228
#homing_speed: 80

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 32
#microsteps: 64
rotation_distance: 40
endstop_pin: !PA6
position_endstop: -16
#position_max: 228
position_min: -16
position_max: 227
homing_speed: 50

[tmc2208 stepper_y]
uart_pin: PB13
run_current: 0.70
#run_current: 0.60
#hold_current: 0.5
sense_resistor: 0.150
#stealthchop_threshold: 999999
stealthchop_threshold: 0
interpolate: False
#interpolate: True

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -3
position_max: 250
homing_speed: 5
#homing_speed: 4
second_homing_speed: 1
homing_retract_dist: 2.5
#homing_retract_dist: 2.0

[tmc2208 stepper_z]
uart_pin: PB14
run_current: 0.8
#hold_current: 0.5
sense_resistor: 0.150
#stealthchop_threshold: 999999
stealthchop_threshold: 0
interpolate: True

[extruder]
#max_extrude_only_distance: 100.0
max_extrude_cross_section: 5
max_extrude_only_distance: 500
pressure_advance: 0.076
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
#rotation_distance: 7.663
rotation_distance: 7.44
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_kp = 21.765
#pid_ki = 1.560
#pid_kd = 75.907
min_temp: 0
max_temp: 260

[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 70 degree Celsius target
#pid_kp = 63.214
#pid_ki = 0.656
#pid_kd = 1521.878
min_temp: 0
max_temp: 100

[heater_fan hotend_fan]
pin: PC1

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
#max_velocity: 250
max_accel: 3500
#max_accel: 2500
max_z_velocity: 10
#max_z_velocity: 5
square_corner_velocity: 5.0
#max_z_velocity: 100
max_z_accel: 200

[bltouch]
sensor_pin: ^PC14
control_pin: PC13
x_offset: -23.25
y_offset: -17
#x_offset: -23.0
#y_offset: -14.5
#z_offset: 0
#z_offset: 2.65
speed: 5
#speed: 20
samples: 5
samples_result: average
sample_retract_dist: 3.0
samples_tolerance: 0.03
samples_tolerance_retries: 5
pin_move_time: 0.4
stow_on_each_sample: False
probe_with_touch_mode: True
lift_speed:20

[safe_z_home]
#home_xy_position: 140,129
#home_xy_position: 140.5,132
home_xy_position: 137.75,131.5
#speed: 150
speed: 100
z_hop: 10
#z_hop_speed: 10
z_hop_speed: 5

[bed_mesh]
speed: 150
#speed: 120
horizontal_move_z: 5
#mesh_min: 30,30         # Need to handle head distance with cr-touch (bl_touch)
mesh_min: 30,30 
#mesh_max: 207,215.5     # Max probe range (230-23,230-14.5)
#mesh_max: 205,213.5     # Max probe range (228-23,228-14.5)
#mesh_max: 207,213.5      # Max probe range (230-23,228-14.5)
mesh_max: 203.75,210      # Max probe range (227-23.25,227-17)
#mesh_max: 200,210
#probe_count: 7,7
probe_count: 10,10
algorithm: bicubic
#algorithm: lagrange
bicubic_tension: 0.2
mesh_pps: 10,10

#####################################################################
#   Idle Timeout & Homing
#####################################################################

[idle_timeout]
gcode:
  OFF
timeout: 600

# [display]
# NOT IMPLEMTED (assuming it even works)

[output_pin beeper]
pin: PB0

[screws_tilt_adjust]
#screw1: 53.0, 44.5
#screw1: 54.5, 48.0
screw1: 53.5, 47.5
screw1_name: frente izquierda
screw2: 223, 47.5
screw2_name: frente derecha
screw3: 223, 216.5
#screw3: 227.0, 218.0
screw3_name: atras derecha
screw4: 53.5, 216.5
#screw4: 57.0, 218.0
screw4_name: atras izquierda
horizontal_move_z: 10.
speed: 50.
screw_thread: CCW-M4

#[screws_tilt_adjust]
#screw1: 54.5, 45.5
#screw1_name: front left screw
#screw2: 224.5, 45.5
#screw2_name: front right screw
#screw3: 224.5, 215.5
#screw3_name: rear right screw
#screw4: 54.5, 215.5
#screw4_name: rear left screw
#horizontal_move_z: 10.
#speed: 50.
#screw_thread: CCW-M4

[include prtouch.cfg]
[e3v3se_display]
language: english

[e3v3se_display MACRO1]
gcode: G28
label: Home all
icon: 12

[e3v3se_display MACRO2]
gcode: BED_MESH_CALIBRATE
label: Bed meshing
icon: 29

[gcode_macro AUTO_Z_OFFSET_PLA]
description: Flujo automatico completo PR Touch para PLA
gcode:
    M117 Auto Z PLA...
    G90
    M140 S60
    M104 S170
    M190 S60
    M109 S170
    G28
    PRTOUCH_PROBE_ZOFFSET
    PRTOUCH_PROBE_ZOFFSET
    PRTOUCH_PROBE_ZOFFSET
    PRTOUCH_ACCURACY SAMPLES=10 PROBE_SPEED=1
    PRTOUCH_PROBE_ZOFFSET APPLY_Z_ADJUST=1 CLEAR_NOZZLE=1
    SAVE_CONFIG

[gcode_macro AUTO_Z_OFFSET_PETG]
description: Flujo automatico completo PR Touch para PETG
gcode:
    M117 Auto Z PETG...
    G90
    M140 S80
    M104 S180
    M190 S80
    M109 S180
    G28
    PRTOUCH_PROBE_ZOFFSET
    PRTOUCH_PROBE_ZOFFSET
    PRTOUCH_PROBE_ZOFFSET
    PRTOUCH_ACCURACY SAMPLES=10 PROBE_SPEED=1
    PRTOUCH_PROBE_ZOFFSET APPLY_Z_ADJUST=1 CLEAR_NOZZLE=1
    SAVE_CONFIG

[gcode_macro AUTO_Z_OFFSET_TPU]
description: Flujo automatico completo PR Touch para TPU
gcode:
    M117 Auto Z TPU...
    G90
    M140 S50
    M104 S170
    M190 S50
    M109 S170
    G28
    PRTOUCH_PROBE_ZOFFSET
    PRTOUCH_PROBE_ZOFFSET
    PRTOUCH_PROBE_ZOFFSET
    PRTOUCH_ACCURACY SAMPLES=10 PROBE_SPEED=1
    PRTOUCH_PROBE_ZOFFSET APPLY_Z_ADJUST=1 CLEAR_NOZZLE=1
    SAVE_CONFIG

[e3v3se_display MACRO3]
gcode: AUTO_Z_OFFSET_PLA
label: Auto Z PLA
icon: 20

[e3v3se_display MACRO4]
gcode: AUTO_Z_OFFSET_PETG
label: Auto Z PETG
icon: 20

[e3v3se_display MACRO5]
gcode: AUTO_Z_OFFSET_TPU
label: Auto Z TPU
icon: 20

[gcode_shell_command test_shell]
command: echo hello
timeout: 5.
verbose: True

[gcode_macro TEST_SHELL]
gcode:
  RUN_SHELL_COMMAND CMD=test_shell

#[axis_twist_compensation]
#speed: 50
#horizontal_move_z: 3.5
#calibrate_start_x: 1
#calibrate_end_x: 207
#calibrate_y: 129
#calibrate_start_y: 1
#calibrate_end_y: 213.5
#Calibrate_x: 140

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.131
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.649
#*# pid_ki = 1.788
#*# pid_kd = 59.624
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 63.991
#*# pid_ki = 0.736
#*# pid_kd = 1391.810
#*#
#*# [axis_twist_compensation]
#*# z_compensations = 0.032500, 0.014500, -0.047000
#*# compensation_start_x = 1.0
#*# compensation_end_x = 207.0
#*# zy_compensations = 0.010476, -0.007738, -0.002738
#*# compensation_start_y = 1.0
#*# compensation_end_y = 213.5
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.000959, 0.009087, 0.010714, 0.010321, -0.014203, -0.003726, -0.011750, -0.012274, -0.016298, -0.018321
#*# 	-0.009969, -0.008842, -0.001215, -0.023107, 0.012869, -0.007655, -0.040179, -0.046202, -0.033726, -0.057250
#*# 	0.006602, 0.024229, 0.030857, -0.014036, -0.026560, 0.005417, -0.016107, -0.047631, -0.034155, -0.042679
#*# 	0.015674, 0.005801, 0.003428, -0.009964, -0.006988, -0.005512, 0.002964, -0.015559, -0.040083, -0.045607
#*# 	-0.000940, 0.015688, -0.007685, -0.008078, -0.012102, -0.022625, -0.008149, -0.015173, -0.037197, -0.046720
#*# 	-0.012998, -0.001371, -0.009244, -0.027637, -0.029660, -0.021684, -0.008708, -0.044232, -0.026256, -0.035279
#*# 	-0.004057, 0.002570, -0.011303, -0.027195, -0.036719, -0.012743, -0.033767, -0.044791, -0.022314, -0.054338
#*# 	-0.038116, -0.018989, -0.022362, -0.050754, -0.020278, -0.013302, -0.039826, -0.053349, -0.062873, -0.062397
#*# 	-0.035175, -0.017548, -0.024921, -0.025313, -0.024337, -0.030361, -0.043384, -0.043908, -0.039932, -0.047956
#*# 	-0.011234, -0.007607, 0.007521, -0.003872, -0.019396, -0.019919, -0.009443, -0.035467, -0.040991, -0.047015
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 10
#*# mesh_y_pps = 10
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 203.70000000000002
#*# min_y = 30.0
#*# max_y = 210.0
#*#
#*# [bed_mesh default 1 cal lado B]
#*# version = 1
#*# points =
#*# 	0.000959, 0.009087, 0.010714, 0.010321, -0.014203, -0.003726, -0.011750, -0.012274, -0.016298, -0.018321
#*# 	-0.009969, -0.008842, -0.001215, -0.023107, 0.012869, -0.007655, -0.040179, -0.046202, -0.033726, -0.057250
#*# 	0.006602, 0.024229, 0.030857, -0.014036, -0.026560, 0.005417, -0.016107, -0.047631, -0.034155, -0.042679
#*# 	0.015674, 0.005801, 0.003428, -0.009964, -0.006988, -0.005512, 0.002964, -0.015559, -0.040083, -0.045607
#*# 	-0.000940, 0.015688, -0.007685, -0.008078, -0.012102, -0.022625, -0.008149, -0.015173, -0.037197, -0.046720
#*# 	-0.012998, -0.001371, -0.009244, -0.027637, -0.029660, -0.021684, -0.008708, -0.044232, -0.026256, -0.035279
#*# 	-0.004057, 0.002570, -0.011303, -0.027195, -0.036719, -0.012743, -0.033767, -0.044791, -0.022314, -0.054338
#*# 	-0.038116, -0.018989, -0.022362, -0.050754, -0.020278, -0.013302, -0.039826, -0.053349, -0.062873, -0.062397
#*# 	-0.035175, -0.017548, -0.024921, -0.025313, -0.024337, -0.030361, -0.043384, -0.043908, -0.039932, -0.047956
#*# 	-0.011234, -0.007607, 0.007521, -0.003872, -0.019396, -0.019919, -0.009443, -0.035467, -0.040991, -0.047015
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 10
#*# mesh_y_pps = 10
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 203.70000000000002
#*# min_y = 30.0
#*# max_y = 210.0
#*#
#*# [bed_mesh default 3 cal lado B]
#*# version = 1
#*# points =
#*# 	-0.012041, 0.009087, 0.019714, 0.009821, -0.005703, -0.018226, -0.012750, -0.007274, -0.000298, -0.025321
#*# 	-0.002969, -0.001342, 0.012785, 0.003893, 0.020869, -0.003155, -0.020179, -0.024702, -0.027226, -0.024750
#*# 	0.013102, 0.028229, 0.036857, 0.005964, -0.006560, 0.014917, -0.001607, -0.016631, -0.031655, -0.026179
#*# 	0.026174, 0.012301, 0.006428, 0.014036, -0.007488, -0.001012, 0.019964, -0.012559, -0.029083, -0.018607
#*# 	0.004060, 0.014688, 0.006815, 0.013422, -0.006102, -0.006125, 0.020851, 0.004327, -0.009197, -0.012720
#*# 	-0.002498, 0.010629, -0.004744, -0.004137, -0.022160, -0.004684, 0.016792, -0.016732, -0.019756, 0.001221
#*# 	-0.002557, 0.035070, 0.010697, -0.009695, -0.024219, 0.018257, 0.025733, -0.008791, -0.007314, 0.004162
#*# 	-0.028616, -0.006489, -0.020862, -0.022754, 0.004222, 0.006698, -0.016826, -0.004849, -0.011373, -0.009897
#*# 	-0.051175, -0.023048, -0.001921, 0.011687, 0.011163, 0.011139, 0.012116, -0.006908, -0.003432, 0.011044
#*# 	0.000766, 0.009893, 0.039021, 0.030628, 0.011104, 0.024081, 0.051057, 0.033533, 0.019009, 0.014985
#*# min_x = 30.0
#*# max_x = 203.70000000000002
#*# min_y = 30.0
#*# max_y = 210.0
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 10
#*# mesh_y_pps = 10
#*# algo = bicubic
#*# tension = 0.2
